*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 480px){

}

@media screen and (min-width: 481px) and (max-width: 768px){
    
}

@media screen and (min-width: 769px) and (max-width: 1199px){
    
}

@media screen and (min-width: 1200px){
    input[type='email'],input[type='password']{
        
    }

    .fundo{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        background: url('/public/img/books.jpg') center center no-repeat;
        background-size: cover;
    }
    
    .login{
        position: absolute;
        width: 30%;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%,-50%);
        background: #fff;
        padding:30px;
    }
    .loginForm{
        float:left;
        width:100%;
    }
}

body{
    width: 100%;
    height: 500px;
    background-color:#f7f7f7;
    
}
.Header,.Main{
    float:left; 
    width: 100%;
}
.Main{
    padding-left: 50px;
}
img{
    width:100%;
}

.Footer{
    position:absolute;
    top:1000px;
    width: 100%;
    height: 50px;
    background:#8eb5e4;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.Nav{
    float:left;
    width: 100%;
    background: #8eb5e4;
    color:#fff;
    text-align: center;
    height: 50px;
    padding-top:10px;
}
.Nav a{
    color:#fff;
}

